<div class="about">

  <h4 class='about_title'>日本文化の代表 ”和菓子”</h4>

  <p class="about_text">
  職人が丁寧に作る和菓子は繊細で、</br>
  いろんな思いが込められています。</br>
  このサイトは、たくさんの人に和菓子をより身近に感じて欲しい、</br>
  という思いを込めて製作いたしました。</br>

  <%= link_to "TOPへ戻る",user_top_path, class: "btn btn-link btn-lg" %>

</p>
</div>