<nav></nav>
<div class="container">
  <div class="top">
    <img class="top-image" src="/assets/桜もち.jpg">
  </div>
</div>

<div class="row text-center">
  <div class="top-nav">
    <div class="col-lg-4">
      <%=link_to image_tag("taiyaki.png"),post_images_path %>
      <p class="top-text">
        ここはみんなのお菓子の投稿が見れるギャラリーです。好きなお菓子や気になる投稿をチェックして、お気に入りの投稿を探してみてください。きっと新しい出会いや発見があると思います！いいねやコメントも忘れずに！
      </p>
    </div>
    <div class="col-lg-4">
      <img src="<%= asset_path("コメントのアイコン.jpeg") %>" />
      <p class="top-text">
        日々のつぶやきが投稿できるコーナーです。ほっと一息ついた時に食べた和菓子やふと見かけて気になった和菓子を見つけた時などにちょっとつぶやいてみてみてください。
    </div>
    <div class="col-lg-4">
      <%=link_to image_tag("ハンドシェイクアイコン.jpeg"),users_path %>
      <p class="top-text">
        たくさんのユーザーと繋がれる場所です。好きな和菓子が一緒だったり、気になる投稿をしているユーザーをフォローして和菓子の輪を広げていきましょう！
    </div>
  </div>
</div>