<nav></nav>
<div class="container">
  <div class="top">
    <div class="top2"><img class="top-image" src="app/assets/top1.jpg"></div>
    <div class="top2"><img class="top-image" src="app/assets/top2.jpg"></div>
    <div class="top2"><img class="top-image" src="app/assets/top3.jpg"></div>
  </div>
</div>

<h2>新着投稿</h2>
<h2>人気投稿</h2>