// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import 'bootstrap';


*{
  margin: 0;
  padding: 0;
}

.about{
  width: 100%;
  height: 800px;
  background-image: url('about.jpg');
  background-size: 100% 100%;
}

.about_title{
  font-size: 50px;
  color: brown;
  padding-top: 50px;
  padding-left: 400px;
}

.about_text{
  font-size: 20px;
  padding-top: 50px;
  padding-left: 450px;
}

.about_link{
  padding-left: 60px;
}

.top-image{
  height: 500px;
  width: 100%;
}

.top-text{
  font-size: 18px;
  font-family: YuGothic;
  line-height: 40px;
  word-break: normal;
  text-align: left;
}