// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import 'bootstrap';


// ABOUTページ
.about{
  margin: 50px 50px;
}

h3 {
  padding: 0.5em;
  color: #010101;
  background: white;
  border-bottom: solid 3px #516ab6;
  width: 200px;
}

.about-text{
  line-height: 40px;
  font-family: YuGothic;
  font-size: 20px;
}

.sub-title{
  font-family: "游ゴシック体","YuGothic"; font-weight: bold;
  font-size: 30px;
}

.nav-ex{
  position: relative;
  background: white;
  box-shadow: 0px 0px 0px 5px white;
  border: dashed 2px red;
  padding: 0.2em 0.5em;
  color: #454545;
  margin-top: 50px;
}
.nav-ex:after{
  position: absolute;
  content: '';
  right: -7px;
  top: -7px;
  border-width: 0 15px 15px 0;
  border-style: solid;
  border-color: #ffdb88 #fff #ffdb88;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
}
// ABOUTページ

.top-image{
  height: 600px;
  width: 100%;
  background-size: cover;
}

.top-text{
  font-size: 18px;
  font-family: YuGothic;
  line-height: 40px;
  word-break: normal;
  text-align: left;
}

.top-title {
  font-size: 50px;
  position: relative;
  padding: 1.5rem 2.5rem;
  border: 4px solid rgba(223, 36, 36, 0.76);
  margin-top: 100px;
}

.top-title:before {
  position: absolute;
  top: 4px;
  left: 4px;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  content: '';
  border: 4px dotted rgba(223, 36, 36, 0.76);
}

.link-top{
  margin:30px auto;
}