// Place all the styles related to the PostImages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.box {
  padding: 0.2em 0.5em;
  margin: 2em 0;
  color: #565656;
  background:white;
  box-shadow: 0px 0px 0px 10px white;
  width: 200px;
  border-radius: 8px;
}

.box-intro {
  margin: 0; 
  padding: 0;
}

.topnew{
  display: inline-flex;
  margin: 5px;
  padding: 10px;
  background-color: #ffffff;
}

// 投稿記事
.card {
  width: 200px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 3px 0 rgba(0,0,0,.12), 0 2px 3px 0 rgba(0,0,0,.22);
  transition: .3s;
  margin-top: 20px;
  margin-bottom: 20px;
}

.card:hover {
	box-shadow: 0 15px 30px -5px rgba(0,0,0,.15), 0 0 5px rgba(0,0,0,.1);
	transform: translateY(-4px);
}

.card-img{
  padding-top: 20px;
}
// 投稿記事

// 投稿詳細
.post-show{
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 3px 0 rgba(0,0,0,.12), 0 2px 3px 0 rgba(0,0,0,.22);
  transition: .3s;
  margin-top: 20px;
  margin-bottom: 20px;
  margin: 50px 80px;
}
.card-show {
  width: 800px;
  margin-left: 75px;
  margin-top: 40px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
  display:flex;
  justify-content:center;
}

.comment {
  margin-top: 30px;
}

.card-name {
  margin: 40px auto 30px auto;
}

.comment-btn {
  margin: 30px auto 30px 350px;
}

.card-img-show {
  margin: 40px 100px 40px 0;
}
// 投稿詳細

// 新規投稿
.new-post
{
  margin: 50px auto;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 3px 0 rgba(0,0,0,.12), 0 2px 3px 0 rgba(0,0,0,.22);
  transition: .3s;
  padding: 30px 50px;
}

.new-form{
  margin-top: 60px;
}

.new-form-text{
  margin-top: 30px;
}

.new-form-btn{
  margin-top: 40px;
  margin-left: 500px;
}
// 新規投稿

// 投稿編集
.edit-post{
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 3px 0 rgba(0,0,0,.12), 0 2px 3px 0 rgba(0,0,0,.22);
  transition: .3s;
  padding: 30px 50px;
  margin: 50px 100px;
}

.edit-post-btn{
  margin: 30px auto auto 300px;
}
// 投稿編集

@media screen and (max-width:425px){
  header footer{
    width: 100%;
  }

  .new-form-btn{
    margin-left: 200px;
  }

  .new-form-btn{
    margin: 30px 370px;
  }

  .card-show{
    width: 250px;
    margin-left: 30px;
  }

  .card-img-show{
    width: 30%;
    max-width: 30%;
    height: 30%;
  }
  .post-show{
    width: 300px;
    margin: 50px auto 70px auto;
  }

  .comment-btn{
    margin: 30px auto 30px 200px;
  }
}

@media screen and (max-width:768px){
  .new-form-btn{
    margin-right: 400px;
  }

  .card-show{
    width: 400px;
    margin-left: 30px;
  }

  .card-img-show{
    width: 50%;
    max-width: 50%;
    height: 50%;
  }
  .post-show{
    margin-top: 100px;
  }

  .comment-btn{
    margin: 30px auto 30px 250px;
  }
}

@media screen and (max-width:1024px){
  .new-form-btn{
    margin: 30px 370px;
  }

  .card-show{
    width: 730px;
    margin-left: 30px;
  }

  .card-img-show{
    width: 50%;
    max-width: 50%;
    height: 50%;
  }
  .post-show{
    margin-top: 100px;
  }
}