// Place all the styles related to the PostImages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.box {
  padding: 0.2em 0.5em;
  margin: 2em 0;
  color: #565656;
  background:white;
  box-shadow: 0px 0px 0px 10px white;
  width: 200px;
  border-radius: 8px;
}

.box-intro {
  margin: 0; 
  padding: 0;
}

.topnew{
  display: inline-flex;
  margin: 5px;
  padding: 10px;
  background-color: #ffffff;
}

// 投稿記事
.card {
  width: 200px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 3px 0 rgba(0,0,0,.12), 0 2px 3px 0 rgba(0,0,0,.22);
  transition: .3s;
  margin-top: 20px;
  margin-bottom: 15px;
}

.card:hover {
	box-shadow: 0 15px 30px -5px rgba(0,0,0,.15), 0 0 5px rgba(0,0,0,.1);
	transform: translateY(-4px);
}

.card-img{
  padding-top: 20px;
}

// 投稿記事

// 投稿詳細
.card-show {
  width: 800px;
  margin-left: 200px;
  margin-top: 40px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
  display:flex;
  justify-content:center;
  align-items: center;
}

.comment{
  margin-top: 30px;
}

.card-name{
  margin-bottom: 30px;
}

.comment-btn{
  margin: 30px auto 30px 550px;
}

.card-img-show{
  margin: 40px 100px 40px 0;
}

.tab_container {
  padding-bottom: 1em;
  background-color: #fff;
  margin: 0 auto;
}

.tab_item {
  width: calc(100%/3);
  padding:15px 0;
  border-bottom: 1px solid  #d0d6d6 ;
  text-align: center;
  color:  #878f8f ;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;

}
.tab_item:hover {
  opacity: 0.75;
}

input[name="tab_item"] {
  display: none;
}

.tab_content {
  display: none;
  padding: 1em 1em 0;
  clear: both;
  overflow: hidden;
}

#tab1:checked ~ #tab1_content,
#tab2:checked ~ #tab2_content,
#tab3:checked ~ #tab3_content {
  display: block;
}

.tab_container input:checked + .tab_item {
  background-color: #c0500fa4 ;
  color: #fff;
}
// 投稿詳細

// 新規投稿
.new-post
{
  margin-top: 50px;
}

.new-form{
  margin-top: 60px;
}

.new-form-text{
  margin-top: 30px;
}

.new-form-btn{
  margin-top: 40px;
  margin-left: 500px;
}
// 新規投稿