// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.crearfix::after{
  content:"";
  display: block;
  clear: both;
}

.user-plofile{
  float: left;
}

.plofile-img{
  margin-top: 100px;
  margin-bottom: 20px;
  border-radius: 50%;
}

.mypage-img{
  border-radius: 50%;
}

.mypage-line{
  border-bottom: 2px solid  #686d6d ;
  margin: 20px auto;
}

.follow-btn{
  margin-top: 180px;
}

.mypage-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 50px;
  margin-left: 180px;
}

.mypage-post{
  margin-bottom: 40px;
}

.card-login{
  width: 900px;
  margin-top: 150px;
  margin-left: 130px;
  padding-bottom: 50px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 3px 0 rgba(0,0,0,.12), 0 2px 3px 0 rgba(0,0,0,.22);
	transition: .3s;
}

.card-profile{
  width: 900px;
  margin-top: 50px;
  margin-left: 180px;
  padding-bottom: 50px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 3px 0 rgba(0,0,0,.12), 0 2px 3px 0 rgba(0,0,0,.22);
	transition: .3s;
}

.card-signin{
  width: 900px;
  margin-top: 50px;
  margin-left: 250px;
  padding-bottom: 50px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 3px 0 rgba(0,0,0,.12), 0 2px 3px 0 rgba(0,0,0,.22);
	transition: .3s;
}

// ユーザ詳細画面タブ
table{
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

table tr{
  border-bottom: solid 1px #eee;
  cursor: pointer;
}

table tr:hover{
  background-color: #e28e4027;
}

table th,table td{
  text-align: center;
  width: 25%;
  padding: 15px 0;
}

table td.icon{
  background-size: 35px;
  background-position: left 5px center;
  background-repeat: no-repeat;
  padding-left: 30px;
}
  
// ユーザ詳細画面タブ