// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.crearfix::after{
  content:"";
  display: block;
  clear: both;
}

.user-plofile{
  float: left;
}

.plofile-img{
  margin-top: 100px;
  margin-bottom: 20px;
  border-radius: 50%;
}

.user-withdraw{
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 3px 0 rgba(0,0,0,.12), 0 2px 3px 0 rgba(0,0,0,.22);
  transition: .3s;
  padding: 50px;
  margin: 150px auto auto 300px;
}

// マイページ
.mypage-img{
  border-radius: 50%;
}

.mypage-btn{
  margin-left:250px;
}
.mypage-line{
  border-bottom: 2px solid  #686d6d ;
  margin: 20px auto;
}

.follow-btn{
  margin-top: 180px;
}

.mypage-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto 50px 250px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 3px 0 rgba(0,0,0,.12), 0 2px 3px 0 rgba(0,0,0,.22);
  transition: .3s;
  padding: 50px;
}

.mypage-post{
  margin-bottom: 40px;
}

// マイページ

// ユーザログイン関係
.card-login{
  width: 900px;
  margin: 150px auto auto 130px;
  padding-bottom: 50px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 3px 0 rgba(0,0,0,.12), 0 2px 3px 0 rgba(0,0,0,.22);
	transition: .3s;
}

.card-signin{
  width: 900px;
  margin: 50px auto 50px 250px;
  padding-bottom: 50px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 3px 0 rgba(0,0,0,.12), 0 2px 3px 0 rgba(0,0,0,.22);
	transition: .3s;
}
// ユーザログイン関係

.card-profile{
  width: 900px;
  margin-top: 50px auto auto 200px;
  padding-bottom: 50px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 3px 0 rgba(0,0,0,.12), 0 2px 3px 0 rgba(0,0,0,.22);
	transition: .3s;
}

// テーブル
table{
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 3px 0 rgba(0,0,0,.12), 0 2px 3px 0 rgba(0,0,0,.22);
	transition: .3s;
}

table tr{
  border-bottom: solid 1px #eee;
  cursor: pointer;
}

table tr:hover{
  background-color: #e28e4027;
}

table th,table td{
  text-align: center;
  width: 25%;
  padding: 15px 0;
}

table td.icon{
  background-size: 35px;
  background-position: left 5px center;
  background-repeat: no-repeat;
  padding-left: 30px;
}
// テーブル
  
// マイページタブ
.tab_container {
  padding-bottom: 1em;
  background-color: #fff;
  margin: 0 auto 50px auto;
}

.tab_item {
  width: calc(100%/3);
  padding:15px 0;
  border-bottom: 1px solid  #d0d6d6 ;
  text-align: center;
  color:  #878f8f ;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;

}
.tab_item:hover {
  opacity: 0.75;
}

input[name="tab_item"] {
  display: none;
}

.tab_content {
  display: none;
  padding: 1em 1em 0;
  clear: both;
  overflow: hidden;
}

#tab1:checked ~ #tab1_content,
#tab2:checked ~ #tab2_content,
#tab3:checked ~ #tab3_content {
  display: block;
}

.tab_container input:checked + .tab_item {
  background-color: #c0500fa4 ;
  color: #fff;
}
// マイページタブ

@media screen and (max-width:425px){

  .card-login{
    width: 350px;
    margin: 90px 50px auto 30px;
  }

  .login-btn{
    margin-left: 0;
  }

  .mypage-link{
    margin: auto 200px auto 0;
  }

  .mypage-container{
    width: 300px;
    margin: 50px 70px 50px 80px;
  }

  .mypage-img .profile-img{
    border-radius: 50%;
    width:100%;
    max-width: 100%;
    height: auto;
  }

  .mypage-link{
    margin: auto 100px auto 0;
  }

  .card-profile{
    width: 300px;
    margin: 50px auto;
    padding: auto 30px;
  }

  .user-profile{
    margin: 20px;
  }

  .table{
    margin-bottom: 40px;
  }

}

@media screen and (max-width:768px){

  .card-login{
    width: 500px;
    margin: 250px auto auto 120px;
  }
  
  .login-btn{
    margin-left: 0;
  }

  .signin-icon{
    margin-left:50px;
  }

  .card-signin-sub{
    margin-left: 0;
  }
  .card-signin{
    width: 400px;
    margin: 250px auto 300px 120px;
  }

  .mypage-container{
    margin: 50px 70px 50px 100px;
  }

  .mypage-link{
    margin: auto 100px auto 0;
  }

  .card-profile{
    width: 600px;
    margin: 50px auto;
    padding: auto 30px;
  }

  .user-profile{
    margin: 20px;
  }
}

@media screen and (max-width:1024px){
  .card-login {
    width: 800px;
    margin: 130px auto auto 90px;
  }

  .login-btn{
    margin:auto 100px;
  }

  .card-signin{
    width: 800px;
    margin: 230px 120px;
  }

  .signin-icon{
    margin-right: 150px;
  }

  .signin-icon-btn{
    margin: auto 200px auto 130px;
  }

  .mypage-container{
    margin: 50px 70px 50px 100px;
  }

  .mypage-link{
    margin: auto 100px auto 0;
  }

  .card-profile{
    margin: 100px auto;
    padding: auto 30px;
  }

  .user-profile{
    margin: 20px;
  }
}