<h1>投稿一覧</h1>
  <% @post_images.each do |post_image| %>
    <%= attachment_image_tag post_image, :image, format: "jpeg",fallback: "no-image.png", size: '150x150' %>
    <%= post_image.introduction %>

    <%= link_to "投稿の詳細ページ", post_image_path(post_image.id) %>

  <% end %>