<div class="container">
  <div class="row">

<div id="post_image_index_new>
    <%= render 'post_images/post_image_new', post_images: @post_images %>
  </div>
    
    <%= paginate @post_total %>
  </div>
</div>